
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by The App Brewery</p>
  </div>
</div>
</body>
<!-- <script>
  function ellipsify (str) {
    if (str.length > 100) {
        return (str.substring(0, 100) + "...");
    }
    else {
    return str;
  }
  }

  var div = document.getElementById('target');
  div.textContent = ellipsify(div.textContent);
</script> -->
</html>
