<%- include ./partials/header.ejs -%>
<h1> Compose </h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label>Title</label>
        <input name="postTitle" class="form-control" type="text">
        <label>Post</label>
        <textarea class="form-control" name="postBody" id="" cols="30" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>

<%- include ./partials/footer.ejs -%>